version: "3.9"

services:
  app:
    build:
      context: .
      target: development
    container_name: node_app
    ports:
      - "${PORT}:${PORT}"
    env_file:
      - .env

    environment:
      CHOKIDAR_USEPOLLING: "true"
    volumes:
      - .:/app
      - /app/node_modules

    depends_on:
      - mongo
    networks:
      - app_network

  mongo:
    image: mongo:6
    container_name: mongodb
    restart: always
    ports:
      - "27018:27017" # Expose MongoDB port to the host
    volumes:
      - mongo-data:/data/db
    networks:
      - app_network

volumes:
  mongo-data:

networks:
  app_network:
    driver: bridge
